<ul class="country-info__list">
    <li class="country-info__item">
      <img class="country-info__img" src="{{img}}" width="30" height="30">
      <p class="country-info__title big">
        <b>{{name}}</b>
      </p>
    </li>
    <li class="country-info__item">
      <p class="country-info__title">
        <b>Capital: </b>
        {{capital}}
      </p>
    </li>
    <li class="country-info__item">
      <p class="country-info__title">
        <b>Population: </b>
        {{population}}
      </p>
    </li>
    <li class="country-info__item">
      <p class="country-info__title">
        <b>Languages: </b>
        {{languages}}
      </p>
    </li>
</ul>